[Unit]
Description=xiaomi onclite adaptation service

[Service]
Type=simple
ExecStart=/usr/bin/xiaomi-onclite-adaptation

[Install]
WantedBy=default.target
